html {
    font-size: 62.5%;
}

header {
    height: 17rem;
}


/*Header*/

.top_contact_bar {
    background-color: darkgreen;
    height: 4rem;
}

.top_contact_bar_text {
    color: white;
    top: 50%;
    text-align: center;
    font-size: 1.5rem;
    transform: translate(0, 50%);
}

.logo {
    height: 8rem;
    border-radius: 1rem;
    margin-left: 20rem;
}

.header_login_section {
    display: flex;
    height: 8rem;
    font-size: 1.5rem;
}

.header_login_bars {
    height: 2.5rem;
    float: right;
    display: flex;
    transform: translate(0, 90%);
}

.navigation_bar {
    background-color: black;
    height: 5rem;
    color: white;
    display:flex;
    justify-content: center;
}

.navigation_option {
    width: 14rem;
    height: 5rem;
    margin: 1rem;
    text-align: center;
    font-size: 2rem;
}

/* Misc. */
p {
    font-size: 1.6rem;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    margin-left: 3rem;
}

form {
    margin-left: 3rem;
}

label {
    display: inline-block;
    clear: left;
    width: 15rem;
    text-align: right;
    margin-right: 0.2rem;
}

input {
    margin-bottom: 1rem;
    display: inline-block;
}

button {
    margin-right: 1rem;
}

ul {
    font-size: 2rem;
    text-align: center;
    list-style-type: none;
}



/* Home Page Main */

main {
    height: 85rem;
}

.library_intro_text {
    width: 70rem;
    position: relative;
    left: 20rem;
    top: 4rem;
}

.home_search_catalog {
    height: 22rem;
    width: 43rem;
    font-size: 2.4rem;
    margin-top: 0rem;
    margin-right: 18rem;
    position: relative;
    bottom: 20rem;
    float: right;
    background-color: #D2CFCF;
    text-align: center;
    color: black;
}

.library_photo {
    position: relative;
    width: 42rem;
    height: 41rem;
    float:right;
    right: 18rem;
    bottom: 20rem;
}

.new_arrivals {
    position: relative;
    top: 10rem;
}

.carousel {
    position: relative;
    width: 273rem;
    height: 23.6rem;
    top: 2rem;
    left: 23rem;
}

.carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 1;
}

.carousel_button--left {
    left: -5.5rem;
}

.carousel_button--right {
    right: 180rem;
}

.carousel_track-container {
    height: 19.4rem;
    width: 84rem;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 500ms ease-in;
}

.carousel_slide {
    position: absolute;
    width: 86rem;
    height: 19.4rem;
    margin-right: 0rem;
}

.carousel_trackers {
    position: relative;
    left: 12.5%;
    height: 3rem;
    width:17rem;
}

.carousel_tracker {
    position: relative;
    border: 0;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: lightgrey;
    margin: 0 1rem;
    top: 0.5rem;
}

.carousel_tracker.current-tracker {
    background: grey;
}

.book_cover {
    width: 12.2rem;
    height: 19.4rem;
    margin-right: 2rem;
    position:relative;
    float: left;
}


/* Calendar Main */
.date_table {
    display: grid;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(7, 100px);
}

/* Footer */

footer {
    height: 28rem;
    background-color: #C5A06A;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: 25rem;
    height: 100%;
}

.footer_box {
    width: 33.33%;
    height: 28rem;
}

/*
.row:after {
    content: "";
    display: table;
    clear: both;
}
*/


.footer_text_box {
    font-size: 2.4rem;
    text-align: center;
}