html {
    font-size: 62.5%;
}

header {
    height: 17rem;
}


/*Header*/

.top_contact_bar {
    background-color: darkgreen;
    height: 4rem;
}

.top_contact_bar_text {
    color: white;
    top: 50%;
    text-align: center;
    font-size: 1.5rem;
    transform: translate(0, 50%);
}

.logo {
    height: 8rem;
    border-radius: 1rem;
    margin-left: 20rem;
}

.header_login_section {
    display: flex;
    height: 8rem;
    font-size: 1.5rem;
}

.header_login_bars {
    height: 2.5rem;
    float: right;
    display: flex;
    transform: translate(0, 90%);
}

.navigation_bar {
    background-color: black;
    height: 5rem;
    color: white;
    display:flex;
    justify-content: center;
}

.navigation_option {
    width: 14rem;
    height: 5rem;
    margin: 1rem;
    text-align: center;
    font-size: 2rem;
}

/* Misc. */
p {
    margin-left: 3rem;
    font-size: 1.6rem;
}

h1 {
    margin-left: 3rem;
    font-size: 3.6rem;
}

h2 {
    margin-left: 3rem;
}

form {
    margin-left: 3rem;
}

label {
    display: inline-block;
    clear: left;
    width: 15rem;
    text-align: right;
    margin-right: 0.2rem;
}

input {
    margin-bottom: 1rem;
    display: inline-block;
}

button {
    margin-right: 1rem;
}

ul {
    font-size: 2rem;
    text-align: center;
    list-style-type: none;
}



/* Home Page Main */

.home_search_catalog {
    height: 22rem;
    width: 43rem;
    font-size: 2.4rem;
    margin-top: 4rem;
    margin-right: 18rem;
    float: right;
    background-color: grey;
    text-align: center;
    color: white
}

.library_photo {
    width: 42rem;
    height: 41rem;
    float:right;
    margin-right: 9rem;
    transform: translate(0, 60%);
}

/* Calendar Main */
.date_table {
    display: grid;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(7, 100px);
}

/* Footer */

footer {
    height: 28rem;
    background-color: #C5A06A;
    color: white;
}

.column {
    float: left;
    width: 33.33%;
    height: 28rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer_text_box {
    font-size: 2.4rem;
    text-align: center;
}