html {
    font-size: 62.5%;
}

/*Header*/

header {
    height: 17rem;
}

.top_contact_bar {
    background-color: darkgreen;
    height: 4rem;
}

.top_contact_bar_text {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    top: 50%;
    transform: translate(0, 50%);
}

.logo {
    border-radius: 1rem;
    height: 8rem;
    margin-left: 20rem;
}

.header_login_section {
    display: flex;
    font-size: 1.5rem;
    height: 8rem;
}

.header_login_label {
    clear: left;
    display: inline-block;
    margin-left: 5rem;
    margin-right: 0.2rem;
    width: 7rem;
}

.header_login_bars {
    display: flex;
    float: right;
    height: 3rem;
    left: 40rem;
    position: relative;
    transform: translate(0, 90%);
}

.navigation_bar {
    background-color: black;
    color: white;
    height: 5rem;
}

.nav_list_primary {
    display: flex;
    font-size: 2rem;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0;
    transform: translateX(50%);
    width: 100rem;
}

.nav_list_secondary {
    font-size: 2rem;
    list-style-type: none;
    padding-left: 0;
}

.nav_option {
    color: white;
    font-size: 2rem;
    height: 5rem;
    margin: 1rem;
    text-align: center;
    width: 14rem;
}

.nav_option--parent {
    background: black;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    height: 5rem;
    margin: 0;
    margin: 1rem;
    text-align: center;
    width: 14rem;
}

.nav_option--child {
    font-size: 2rem;
    height: 5rem;
    margin: 1rem;
    text-align: center;
    width: 14rem;
}

.nav_option > a {
    color: lightgrey;
    text-decoration: none;
    transition: color .3s;
}

.nav_option > h2 {
    color: lightgrey;
    cursor: pointer;
}

.nav_option > a:hover {
    color: white;
    transition: color .3s;
}


/* Home Page Main */

main {
    height: 85rem;
}

.library_intro_text {
    left: 20rem;
    position: relative;
    top: 4rem;
    width: 70rem;
}

.home_search_catalog {
    background-color: #D2CFCF;
    bottom: 20rem;
    color: black;
    float: right;
    font-size: 2.4rem;
    height: 25rem;
    margin-right: 18rem;
    margin-top: 0rem;
    position: relative;
    text-align: center;
    width: 43rem;
}

.library_photo {
    bottom: 20rem;
    float:right;
    height: 41rem;
    position: relative;
    right: 18rem;
    width: 42rem;
}

.new_arrivals {
    height: 35rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    top: 10rem;
}

.carousel {
    height: 23.6rem;
    left: 23rem;
    position: relative;
    top: 2rem;
    width: 273rem;
}

.carousel_button {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.carousel_button--left {
    left: -5.5rem;
    visibility: hidden;
}

.carousel_button--right {
    right: 180rem;
}

.carousel_track-container {
    height: 19.4rem;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 84rem;
}

.carousel_track {
    list-style: none;
    margin: 0;
    padding: 0;
    transition: transform 500ms ease-in;
}

.carousel_slide {
    height: 19.4rem;
    margin-right: 0rem;
    position: absolute;
    width: 86rem;
}

.carousel_nav {
    height: 3rem;
    left: 12.5%;
    position: relative;
    width:17rem;
}

.carousel_dot {
    background: lightgrey;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    height: 2rem;
    margin: 0 1rem;
    position: relative;
    top: 0.5rem;
    width: 2rem;
}

.carousel_dot.current-dot {
    background: grey;
}

.book_cover {
    float: left;
    height: 19.4rem;
    margin-right: 2rem;
    position:relative;
    width: 12.2rem;
}


/* Calendar Main */
.date_table {
    display: grid;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(7, 100px);
}

/* Catalog Main */
.data_entry {
    font-size: 2rem;
    padding-left: 3rem;
}

/* Footer */

footer {
    background-color: #C5A06A;
    color: white;
    height: 28rem;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    left: 25rem;
    position: relative;
}

.footer_box {
    height: 28rem;
    text-align: center;
    width: 33.33%;
}

.footer_text_box {
    font-size: 2.4rem;
}

.footer_email_signup {
    font-size: 2rem;
}

.hours_list {
    font-size: 2rem;
    list-style-type: none;
    text-align: center;
}


/* Misc. */
p {
    font-size: 1.6rem;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3.2rem;
    margin-top: 1rem;
    width: 100%;
}

input {
    display: inline-block;
    margin-bottom: 1rem;
}

button {
    margin-left: 1rem;
    margin-right: 1rem;
}

.list {
    list-style: none;
    padding-left: 0;;
}

.collapsible_content {
    display: none;
}

.collapsible_chevron {
    transform: rotate(180deg);
}

.collapsible--expanded {
    transform: rotate(0);
}

.collapsible--expanded .collapsible_content {
    display: block;
}